@media (max-width:800px) {

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .nav-list li { margin: 10px 0; }

    li a {
        display: inline-block;
        font-size: 20px;
        padding: 10px 20px;
        transition: all 0.3s;
        color: #272727;
    }

    li a:hover {
        background-color: #14A098;
        color: #ffffff;
        transform: translateY(-10px);
    }

    .hamburguer {
        display: inline-flex;
        z-index: 999;
    }

    #hamburguer-toggle:checked ~ .nav-list { transform: none; }

    #hamburguer-toggle:checked ~ .hamburguer .bar::before { transform: rotate(45deg); }

    #hamburguer-toggle:checked ~ .hamburguer .bar  { background-color: transparent; }

    #hamburguer-toggle:checked ~ .hamburguer .bar::after { transform: rotate(-45deg); }

    .container-img { display: inline-block; }

    .container { display: inline-block; }

    h2 { font-size: 1.5em; }

    p { font-size: 1em; }

    #shop-car {
        float: none;
        margin-right: 50px;
    }

    .container-box {
        display: inline;
    }

    .card {
        margin-left: 15%;
        margin-top: 50px;
    }

    .login {
        grid-column: 1/3;
    }

    .main-img {
        display: none;
    }

    .login form {
        width: 80%;
        height: 50%;
        padding: 25px;
        margin-left: 10%;
        text-align: left;
    }

    .products {
        display: inline;
    }

    .item-box {
        margin-left: 40%;
    }

    .product-view {
        grid-column: 1/11;
    }

    .product-info {
        grid-column: 1/11;
        padding: 10% 23%;
    }


    #title-comment {
        grid-column: 3/9;
    }

    .comentario {
        grid-column: 3/9;
    }
}

@media (max-width:1025px) {
    .container-img { display: inline; }
}

@media (max-width:1200px) {
    .copy { display: none; }
}
