@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Spirax&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #272727;
}

.logo {
    color: white;
}

.home-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    font-family: 'Open Sans', sans-serif;    
}

.main-img {
    grid-column: 1/2;
    background-image:  url('img/log.jpg');
    height: 100vh;
    background-size: cover;
}

.regist {
    grid-column: 1/3;;
    grid-template-columns: repeat(10,1fr);
    display: grid;
    margin-bottom: 50px;
    margin-top: 50px;
}

.login {
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    grid-template-columns: repeat(5,1fr);
    display: grid;
}

h3 {
    position: fixed;
    padding: 20px;
}

form a{
    text-align: center;
    text-decoration: none;
    color: #EC3262;
}

form a:hover {
    color: #14a098;
}

.form-login {
    grid-column: 2/5;
}

.copy {
    grid-column: 2/5;
}

.login form {
    width: 60%;
    height: auto;
    padding: 25px;
    margin-left: 20%;
    text-align: left;
}

form h1 { 
    color: #EC3262;
    text-align: center;
    font-size: 1.5rem;
}

.input-group { margin: 20px 0; }

label { 
    display: block; 
    color: black;
    font-size: 1.2rem;
}

input, select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: solid;
    border-color: #272727;
    border-radius: 10px;
}

.sign-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 10px auto;
    padding: .5em 1em;
    border: 2px solid #14a098;
    border-radius: 0.6em;
    background-color: transparent;
    color: #272727;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
}

button:hover, button:focus {
    color: #ffffff;
    outline: 0;
    border: 2px solid #14a098;
}

.sign-in {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.sign-in:hover {
    box-shadow: 0 0 40px 40px #14a098 inset;
    color: #ffffff;    
}

#new-user {
    float: right;
    margin-right: 35%;
    padding: 1em 2em;
}

.login p {
    color: #272727;
    font-weight: 500;
    font-size: 1rem;
}

.form-regist {
    grid-column: 2/10;
}

.form-regist form {
    display: inline;
}

.form-regist .input-group input {
    width: 30%;
}

.input2 {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.input2 .input-group input {
    width: 100%;
}

.input2 .input-group {
    width: 100%;
    margin-right: 7%;
}