@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Spirax&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { min-width: 250px;}

body, html {
    height: 100%;
}
  

main { font-family: 'Poppins', sans-serif; }

h2 { font-size: 2.5em; }

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;    
    font-size: 15px;
    color: #272727;
}

li a:hover { color: #14a098; }

nav {
    background-color: #ffffff;
    display: flex;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    font-family: "Century Gothic";
    color: #272727;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li { margin-left: 30px; }

#hamburguer-toggle { display: none; }

.hamburguer {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburguer .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #272727;
    position: absolute;
    transition: all 0.3s;
}

.hamburguer .bar::before, .hamburguer .bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #272727;
    transition: all 0.3s;
}

.hamburguer .bar::before { transform: translateY(-10px); }

.hamburguer .bar::after { transform: translateY(10px); }

#shop-car {
    width: 50px;
    height: auto;
    float: right;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.info-admin {
    grid-column: 1/3;
    background-color: #EC3262;
    padding: 10% 25%;
    text-align: center;
    height: auto;
    min-height: 481.5px;
    color: #ffffff;
}

.img-admin img {
    width: 100%;
}

.data-admin {
    margin-top: 20px;
}

.product-view {
    grid-column: 1/6;
    height: auto;
    align-items: center;
}

.product-img {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.product-img img {
    width: 60%;
    height: auto;
    max-height: 500px;
}

.product-info {
    grid-column: 6/11;
    height: auto;
    padding: 2% 0;
}

.tallas {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cant {
    padding: 2px 5%;
    border: 1px solid;
    border-radius: 10px;
}

.product-comments {
    grid-column: 1/11;
    height: auto;
    grid-template-columns: repeat(10,1fr);
    display: grid;
}

#title-comment {
    grid-column: 2/10;
}

.comentario {
    grid-column: 2/6;
    display: inline;
    margin-top: 5%;
    margin-bottom: 5%;
}

.desc-comment {
    width: 100%;
    min-height: 50px;
}

.info-comment {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 100%;
}

.filter {
    padding: 20px;
    grid-column: 1/3;
    margin-bottom: 10%;
}

.products, .usuarios {
    grid-column: 3/11;
    margin-top: 30px;
}

.toggle-switch {
    margin-top: 35%;
    margin-left: 11%;
}

.item-box {
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 20px;
}

.img-item {
    margin-bottom: 20px;
}

.imgi {
    max-width: 120px;
    width: 100%;
    height: auto;
    max-height: 150px;
    cursor: pointer;
}

.imgi:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
}

.info-item {
    display: none;
}

.slide {
    background-image: url("img/slide.jpg");
    height: 635px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/11;
    grid-template-columns: repeat(4,1fr);
    display: grid;
}

.slogan {
    width: 100%;
    grid-column: 3/5;
    margin-top: 200px;
    padding: 50px;
}

.slogan {
    color: #ffffff;
    text-shadow: 1px 2px #272727;
}

button {
    background-color: #EC3262; 
    color: #ffffff;
    border: solid;
    border-color: #EC3262;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover { 
    background-color: #ffffff; 
    color: #EC3262;
    border: solid;
    border-color: #EC3262;
}

.buy {
    padding: .5em 2em;
    font-size: 12px;
    margin-top: 10px;
}

.update {
    padding: .5em 1em;
    font-size: 10px;
}

.container {
    margin-top: 100px;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 1.5rem;
}

.container2 {
    margin-top: 100px;
    grid-column: 2/10;
    display: inline;
}

.container3 {
    grid-column: 1/11;
    background-image: url("img/sale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;

}

.title-box {
    margin-left: 5%;
    font-size: 1.5rem;
}

.info {
    grid-column: 1/4;
    padding: 10%;
}

.info2 {
    width: 300px;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px black;
}

.img-cont {
    grid-column: 4/7;
}

.img-cont img {
    width: 100%;
}

.container-box {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    grid-column: 2/10;
    margin-bottom: 5%;
}

.card {
    width: 300px; height: 450px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 15px black;
    transition: all 0.2s ease-in;
    border-radius: 5px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.3) 30%, rgba(236,50,98,0.8));
    opacity: 0;
    transition: all 0.3s;
}

.card p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: verdana; font-size: 22px;
    font-weight: bolder;
    white-space: nowrap;
    color: #ffffff;
    margin: 0;
    transition: all 0.3s;
    text-transform: uppercase;
}

.card img { width: 100%; height: 100%; }

.card:hover { transform: translateY(-20px); }

.card:hover::before { opacity: 1; }

.card:hover p { transform: translate(-50%,-60px); }

.img-blur::before {
    background-image: url("img/new.jpg");
    background-size: cover;
    z-index: -1;
    top: 15px; left: 0;;
    filter: blur(20px);
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  }
  .switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
  .switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }
  .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label {
    background: #0088cc;
    border-color: #0088cc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .switch-input:checked ~ .switch-label:before {
    opacity: 0;
  }
  .switch-input:checked ~ .switch-label:after {
    opacity: 1;
  }
  .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }
  .switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Transition
  ========================== */
  .switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }

footer {
    width: 100%;
	height: auto;
	text-align: center;
	background-color: #272727;
    color: #ffffff;
    font-size: 20px;
}

footer p {
    font-family: 'Open Sans', sans-serif;    
	padding: 15px;
}
